<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">
    <link rel="icon" href="/assets/img/favicon.png" type="image/x-icon">
    <title>TCalls</title>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jssip-3.3.11.min.js"></script>
    <script src="/assets/js/jquery-ui.min.js"></script>
    <script src="/assets/js/adapter.min.js"></script>
    <script src="/assets/js/DetectRTC.min.js"></script>
    <script src="/assets/js/socket.io.js"></script>
    <script src="/assets/js/offline.min.js"></script>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/perfect-scrollbar.css">

    <link href="/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/menu.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/assets/css/callpad.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/assets/css/react-bootstrap-table.min.css">
    <!-- <link rel="stylesheet" href="/assets/css/callbox.css"> -->
    <link rel="stylesheet" href="/assets/css/notify.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tour/0.11.0/css/bootstrap-tour.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.min.css">
    <link rel="stylesheet" href="/assets/css/introjs-modern.css">
    <meta charset="utf-8" data-react-helmet="true">
    <script type="text/javascript">
        var infocall = {
            username: "<%= sip.username %>",
            password: "<%= sip.password %>",
            uid: "<%= sip.username %>",
            domain: "<%= sip.domain %>",
            proxy: "<%= sip.proxy %>",
            port: "<%= sip.port %>"
        };

        function getInfocall() {
            return this.infocall;
        }
    </script>
</head>